/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 102, 0);
  --text-color: black;
  --text-color-faint: rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  font-size: 0.8em;
}

body {
  min-width: 250px;
}

@media screen and (min-width: 750px) {
  body {
    max-width: 80%;
    margin: 10px auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
